@inherits ReceiverBase

@if (_receiverHub == null || _receiverHub.State != HubConnectionState.Connected)
{
    <BusyCover />
}
else
{
    <div class="card bg-dark text-white receiverCard m-2">
        <img src="@ImageUrl" class="card-img" onerror="if (this.src != 'error.jpg') this.src = 'https://semantic-ui.com/images/wireframe/image.png';">
        <div class="card-img-overlay">

            <div class="shadow-upper d-flex justify-content-between position-absolute fixed-top w-100">
                <h4 class="card-title text-truncate text-stroke m-2">@Name</h4>
                <i class="@($"mdi mdi-{MediaTypeIconClass} m-2")"></i>
            </div>

            <h5 class="card-title text-truncate text-stroke mt-4">@Title</h5>
            <p class="card-text text-truncate text-stroke">@Subtitle</p>

            @if (@IsMediaInitialized)
            {
                <div class="shadow-lower container-fluid position-absolute fixed-bottom p-0 w-100">
                    <div class="row align-items-center mx-0 pt-3 pb-2" id="progressRow">
                        <div class="col-auto text-white pl-3 pr-2" id="currentTime">@CurrentTime.StripMilliseconds().ToString()</div>
                        <div class="progress col px-0" id="progressDiv">
                            <div class="progress-bar" id="progress" role="progressbar" aria-valuenow="@CurrentTime.StripMilliseconds().TotalSeconds" aria-valuemin="0" aria-valuemax="@Runtime.StripMilliseconds().TotalSeconds" style="width:@(Math.Round(@CurrentTime.TotalSeconds * 100 / Runtime.TotalSeconds))%;"></div>
                        </div>
                        <div class="col-auto text-white pl-2 pr-3" id="duration">@Runtime.StripMilliseconds().ToString()</div>
                    </div>
                    <div class="row align-items-center mx-0 pt-2 pb-3">
                        <i class="mdi mdi-skip-previous col-auto pl-3 pr-2"></i>
                        <i class="mdi mdi-rewind col-auto px-2"></i>
                        <i class="@($"col-auto px-2 button-bright mdi mdi-{(PlayerState.Equals("Paused", StringComparison.InvariantCultureIgnoreCase) || PlayerState.Equals("Stopped", StringComparison.InvariantCultureIgnoreCase) ? "play" : "pause")}")" @onclick="PlayPauseClick" />
                        <i class="mdi mdi-fast-forward col-auto px-2"></i>
                        <i class="mdi mdi-skip-next col-auto px-2"></i>
                        <div class="col px-0" id="spacer" />
                        <i class="mdi mdi-play-speed col-auto px-2" id="playbackRate" data-toggle="popover" data-placement="top"></i>
                        <i id="autoPlayOn" class="mdi mdi-@($"{(Repeat == RepeatMode.REPEAT_ALL ? "repeat" : Repeat == RepeatMode.REPEAT_SINGLE ? "repeat-once" : Repeat == RepeatMode.REPEAT_ALL_AND_SHUFFLE ? "shuffle-variant" : "repeat-off" )}") col-auto px-2"></i>
                        <div class="col-auto mdi mdi-@($"{(IsMuted ? "variant-off" : Volume > 0.5 ? "volume-high" : Volume > 0 ? "volume-medium" : "volume-low")}") px-2" id="audioDiv" data-toggle="popover" data-placement="top" />
                    </div>
                </div>
            }

        </div>



    </div>
}
